{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
        <p class="label">Archives:
            <a href="https://ethno-voy-archive.library.ucla.edu/">Ethno</a> / 
            <a href="https://ftva-voy-archive.library.ucla.edu/">FTVA</a> / 
            <a href="https://ucla-voy-archive.library.ucla.edu/">UCLA</a>
        </p>
        {% block content %}
        {% endblock %}
    </body>
</html>
