{% extends 'voyager_archive/base.html' %}

{% block content %}
<div class="row">
    <div class="column">
        <h2>Basic Information</h2>
        <table class="data-display">
            <tr>
                <td class="label">Item Barcode</td>
                <td>{{ item.item_barcode }}</td>
            </tr>
            <tr>
                <td class="label">Item ID</td>
                <td>{{ item.item_id }}</td>
            </tr>
            <tr>
                <td class="label">MFHD ID</td>
                <td><a href="{% url 'marc_display' 'mfhd' item.mfhd_id %}">{{ item.mfhd_id }}</a></td>
            </tr>
            <tr>
                <td class="label">Item Type</td>
                <td>{{ item.item_type }}</td>
            </tr>
            <tr>
                <td class="label">Temporary Item Type</td>
                <td>{{ item.temp_item_type }}</td>
            </tr>
            <tr>
                <td class="label">Item Status</td>
                <td>{{ item.item_status }}</td>
            </tr>
            <tr>
                <td class="label">Item Stat Cats</td>
                <td>{{ item.item_stat_cats }}</td>
            </tr>
            <tr>
                <td class="label">Enumeration</td>
                <td>{{ item.item_enum }}</td>
            </tr>
            <tr>
                <td class="label">Chronology</td>
                <td>{{ item.chron }}</td>
            </tr>
            <tr>
                <td class="label">Year</td>
                <td>{{ item.year }}</td>
            </tr>
            <tr>
                <td class="label">Caption</td>
                <td>{{ item.caption }}</td>
            </tr>
            <tr>
                <td class="label">Freetext</td>
                <td>{{ item.freetext }}</td>
            </tr>
            <tr>
                <td class="label">Copy Number</td>
                <td>{{ item.copy_number }}</td>
            </tr>
            <tr>
                <td class="label">Pieces</td>
                <td>{{ item.pieces }}</td>
            </tr>
            <tr>
                <td class="label">Price</td>
                <td>{{ item.price }}</td>
            </tr>
            <tr>
                <td class="label">Item Sequence Number</td>
                <td>{{ item.item_sequence_number }}</td>
            </tr>

        </table>
    </div>
    <div class="column">
        <h2>Location and Circulation Information</h2>
        <table class="data-display">
            <tr>
                <td class="label">Permanent Location</td>
                <td>{{ item.perm_location }}</td>
            </tr>
            <tr>
                <td class="label">Temporary Location</td>
                <td>{{ item.temp_location }}</td>
            </tr>
            <tr>
                <td class="label">Historical Charges</td>
                <td>{{ item.historical_charges }}</td>
            </tr>
            <tr>
                <td class="label">Historical Browses</td>
                <td>{{ item.historical_browses }}</td>
            </tr>
            <tr>
                <td class="label">Holds Placed</td>
                <td>{{ item.holds_placed }}</td>
            </tr>
            <tr>
                <td class="label">Recalls Placed</td>
                <td>{{ item.recalls_placed }}</td>
            </tr>
            <tr>
                <td class="label">On Reserve</td>
                <td>{{ item.on_reserve }}</td>
            </tr>
            <tr>
                <td class="label">Reserve Charges</td>
                <td>{{ item.reserve_charges }}</td>
            </tr>
        </table>
    </div>
    <div class="column">
        <h2>Metadata Information</h2>
        <table class="data-display">
            <tr>
                <td class="label">Creator ID</td>
                <td>{{ item.create_operator_id }}</td>
            </tr>
            <tr>
                <td class="label">Creation Date</td>
                <td>{{ item.create_date }}</td>
            </tr>
            <tr>
                <td class="label">Creation Location</td>
                <td>{{ item.create_location }}</td>
            </tr>
            <tr>
                <td class="label">Modifier ID</td>
                <td>{{ item.modify_operator_id }}</td>
            </tr>
            <tr>
                <td class="label">Modification Date</td>
                <td>{{ item.modify_date }}</td>
            </tr>
            <tr>
                <td class="label">Modification Location</td>
                <td>{{ item.modify_location }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}