{% extends 'voyager_archive/base.html' %}

{% block content %}
<div class="row">
    <div class="column">
        <table class="data-display">
            {% comment %}
            Leader and suppression info are special;
            display before regular fields.
            {% endcomment %}
            <tr>
                <td>Suppressed</td>
                <td></td>
                <td>{{ marc_record.suppressed }}</td>
            </tr>
            <tr>
                <td>LDR</td>
                <td></td>
                <td>{{ marc_record.leader }}</td>
            </tr>
            {% for field in marc_record.fields %}
            <tr>
                <td>{{ field.tag }}</td>
                <td><span class='indicators'>
                    {{ field.indicator1 }}&nbsp;{{ field.indicator2 }}
                    </span>
                </td>
                <td>
                    {% if field.tag == "004" %}
                    <a href="{% url 'marc_display' 'bib' field.data %}">{{ field.data }}</a>
                    {% else %}
                    {{ field.data }}
                    {% endif %}
                    {% for delimiter, values in field.subfields.items %}
                        {% for value in values %}
                            <span class='delimiter'>${{ delimiter }}</span> {{ value }}
                        {% endfor %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% if mfhd_summary %}
<div class="row">
    <div class="column">
        <h2>Holdings Summary</h2>
        <table class="data-display">
            <tr>
                <th>Holdings ID</th>
                <th>Location</th>
                <th>Call Number</th>
                <th>Suppressed</th>
            </tr>
        {% for mfhd in mfhd_summary %}
            <tr>
                <td>
                    <a href="{% url 'marc_display' 'mfhd' mfhd.mfhd_id %}">{{ mfhd.mfhd_id }}</a>
                </td>
                <td>{{ mfhd.location_code }} ({{ mfhd.location_name }})</td>
                <td>{{ mfhd.call_number }}</td>
                <td>{{ mfhd.suppressed }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endif %}

{% if item_summary %}
<div class="row">
    <div class="column">
        <h2>Item Summary</h2>
        <table class="data-display">
            <tr>
                <th>Barcode</th>
                <th>Location</th>
                <th>Item Type</th>
                <th>Enumeration</th>
            </tr>
        {% for item in item_summary %}
            <tr>
                <td>
                    <a href="{% url 'item_display' item.item_id %}">{{ item.item_barcode }}</a>
                </td>
                <td>{{ item.perm_location }}</td>
                <td>{{ item.item_type }}</td>
                <td>{{ item.item_enum }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endif %}

{% endblock %}
