{% extends 'voyager_archive/base.html' %}

{% block content %}
<form name="search_archive" id="search_archive" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <br>
    <button type="submit">Search</button>
</form>
<hr/>

<div class="row">
    <div class="column">
        <table class="data-display">
            {% comment %}
            Leader and suppression info are special;
            display before regular fields.
            {% endcomment %}
            <tr>
                <td>Suppressed</td>
                <td></td>
                <td>{{ marc_record.suppressed }}</td>
            </tr>
            <tr>
                <td>LDR</td>
                <td></td>
                <td>{{ marc_record.leader }}</td>
            </tr>
            {% for field in marc_record.fields %}
            <tr>
                <td>{{ field.tag }}</td>
                <td><span class='indicators'>
                    {{ field.indicator1 }}&nbsp;{{ field.indicator2 }}
                    </span>
                </td>
                <td>
                    {{ field.data }}
                    {% for delimiter, values in field.subfields.items %}
                        {% for value in values %}
                            <span class='delimiter'>${{ delimiter }}</span> {{ value }}
                        {% endfor %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}
