* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }
  
  table.data-display {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  table.data-display th, table.data-display td {
    text-align: left;
    padding: 12px;
  }
  
  table.data-display tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .indicators {
    color: green
  }
  
  .subfield {
    color: blue
  }